li a {
  text-decoration: none;
  color: white;
}

ul {
  text-decoration: none;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: red;
  height: 3em;
  margin-top: 0;
}